%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:pages, :index)
  %li=link_to tag_icon(:plus, 'Новая'), url(:pages, :new), class: 'tab-new'

.filters
  .btn-group
    - Page.filters.each do |filter|
      = filter_link filter, :pages
  .parent-filter
    Родительская:
    %select.parent.form-control.input-xlarge
      - root_pages_list.each do |page|
        %option{value: page[1], 'data-uri' => parent_filter_uri(page).html_safe,selected: filter_selected?(page)}
          = page[0]

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    = form_tag url(:pages, :destroy_many), :method => :delete do
                      =hidden_field_tag :page_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-default.btn-small.cancel=pat(:cancel)
        %th.header= sort_link(:page, :id)
        %th.header= sort_link(:page, :slug)
        %th.header= sort_link(:page, :title)
        %th.header= sort_link(:page, :status)
        %th.header= sort_link(:page, :account_id)
        %th.header= sort_link(:page, :parent_id)
        %th.header= sort_link(:page, :excerpt)
        %th.header SEO
        %th.header.list-row-action-header
    %tbody
      = partial 'pages/pages'

  = paginate @pages
