#main-slider.carousel.slide{'data-ride' => 'carousel'}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#main-slider"}
    %li{"data-slide-to" => "1", "data-target" => "#main-slider"}
    %li{"data-slide-to" => "2", "data-target" => "#main-slider"}
  / Carousel items
  .carousel-inner
    .active.item
      = image_tag "carousel/building001.jpg", alt: 'Деревянные дома из бруса'
      .carousel-caption
        %h4 Строительство загородных домов
        %p
          Качественно, экологично, безопасно. Современные технологии.
    .item
      = image_tag "carousel/building002.jpg", alt: 'Деревянные дома из бруса'
      .carousel-caption
        %h4 Ремонт квартир и офисов
        %p
          Все типы: косметический, капитальный, элитный.
    .item
      = image_tag "carousel/building003.jpg", alt: 'Деревянные дома из бруса'
      .carousel-caption
        %h4 Инвестиции в недвижимость
        %p
          Покупка и расселение коммунальных квартир.

  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#main-slider"}
    = tag_icon 'chevron-left'
  %a.carousel-control.right{"data-slide" => "next", :href => "#main-slider"}
    = tag_icon 'chevron-right'


%h1= @page.title

%div.content= @page.content.html_safe