-@accounts.each do |account|
  %tr.list-row
    %td.list-column.list-selectable
      =check_box_tag 'account_ids[]', :value => account.id, :class => 'list-selectable-checkbox'
    %td.list-column=account.id
    %td.list-column=account.name
    %td.list-column=account.surname
    %td.list-column=account.email
    %td.list-column=account.human_role
    %td.list-column.list-row-action
      .list-row-action-wrapper
        =link_to tag_icon(:edit), :href => url(:accounts, :edit, :id => account.id), :rel => :tooltip, :title => "#{pat(:edit)} #{pat(:account)}", :class => 'list-row-action-wrapper-link'
        =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} #{pat(:account)}", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
        .popover.list-row-action-popover-delete-one.left
          .arrow
          %h3.popover-title=pat(:delete, :model => "account")
          .popover-content
            = form_tag url(:accounts, :destroy, :id => account.id), :method => :delete do
              =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
              .btn.btn-default.btn-small.cancel=pat(:cancel)