!!! 5
%html{:lang => 'ru'}
  %head
    / [if lt IE 9]
      %script{ :src => '//html5shiv.googlecode.com/svn/trunk/html5.js' }
    %meta{:content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{:name => :viewport, :content => 'width=device-width,initial-scale=1'}
    =csrf_meta_tags
    =favicon_tag 'favicon.ico'
    %title= @title.present? ? "#{@title} | #{company_name}" : "Админка"
    %link{:href => 'http://fonts.googleapis.com/css?family=Varela', :rel => :stylesheet}
    =stylesheet_link_tag 'bootstrap', 'application', 'admin', 'redactor'

  %body
    = partial 'layouts/header'

    .container.main
      .main-wrapper
        ={:error => 'danger', :warning => 'warning', :success => 'success', :notice => 'info'}.map { |type, class_name| flash_tag(type, :class => "alert alert-#{class_name} fade in", :bootstrap => true) }.join.html_safe

        .row= yield

        .main-wrapper-push

    %footer
      = partial 'layouts/footer'

    #loading
      = image_tag("loading-large.gif")

    =javascript_include_tag 'jquery-1.9.0.min', '/js/jquery-ujs'
    -if Padrino.env == :production
      =javascript_include_tag "redactor/redactor.min", 'bootstrap/bootstrap.min'
    -else
      =javascript_include_tag  "redactor/redactor", %w[bootstrap/affix bootstrap/alert bootstrap/button bootstrap/carousel bootstrap/collapse bootstrap/dropdown  bootstrap/tooltip bootstrap/transition  bootstrap/modal bootstrap/popover bootstrap/scrollspy bootstrap/tab]

    =javascript_include_tag  'application', 'admin'

    :javascript
      $(function() {
      $('.redactorjs').redactor({
        lang: 'ru',
        imageUpload: '#{upload_url}',
        imageGetJson: '#{upload_url}imagelist.json',
        autoresize: false,
        minHeight: 300,
        uploadFields: {
          #{csrf_param}: '#{csrf_token}'
        }
      });});