- in_sidebar ||= false
- if in_sidebar
  %h3
    = tag_icon 'envelope'
    Свяжитесь с нами

= form_for @message, url(:contacts, :message), role: "form" do |f|
  / = f.error_messages
  - if !in_sidebar && @message && @message.errors.any?
    .error-explanation
      -# %h2= "Вы допустили ошибки при заполнении формы"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li.alert.alert-danger= msg
  = f.text_field_block :name, :caption => t('Name'), :value => contact_param[:name], required: true, class: "form-control"
  = f.text_field_block :email, :caption => 'E-mail', :value => contact_param[:email], required: true, type: "email", class: "form-control"
  = f.text_area_block  :content, :caption => t('Message'), :value => contact_param[:content], required: true, :rows => "6", :cols => "28", class: "form-control", placeholder: 'Мы ответим в течении 24 часов'
  = f.submit_block t('Send'), class: 'btn btn-primary'

  / %p.form-group
  /   = label_tag t('Name'), for: :name
  /   = text_field_tag :name, :value => params[:name], required: true, class: "form-control"
  / %p.form-group
  /   = label_tag 'E-mail', for: :email
  /   = text_field_tag :email, :value => params[:email], required: true, type: "email", class: "form-control"
  / %p.form-group
  /   = label_tag t('Message'), for: :content
  /   = text_area_tag :content, :value => params[:email], required: true, :rows => "6", :cols => "28", class: "form-control", placeholder: 'Мы ответим в течении 24 часов'
  / .actions
  /   = submit_tag t('Send'), class: 'btn btn-primary'
  /=h negative_captcha(@captcha)
  .field
    /= negative_label_tag(@captcha, :name, 'Имя')
    /= negative_text_field_tag(@captcha, :name)
  .field
    /= negative_label_tag(@captcha, :email, 'Email')
    /= negative_text_field_tag(@captcha, :email, :size => "28")
  .field
    /= negative_label_tag(@captcha, :content, 'Сообщение')
    /= negative_text_area_tag(@captcha, :content, :size => "28x6")

