- in_sidebar ||= false
- if in_sidebar
  %h3
    = tag_icon 'envelope'
    Свяжитесь с нами

= form_tag url(:contacts, :message), role: "form" do |f|
  - if !in_sidebar && @message && @message.errors.any?
    %ul.error-explanation
      - @message.errors.full_messages.each do |msg|
        %li.alert.alert-danger= msg

  != negative_captcha(@message.captcha)
  %p
    = negative_label_tag @message.captcha, :name, t('Name')
    = negative_text_field_tag(@message.captcha, :name, required: true, class: "form-control")
  %p
    = negative_label_tag @message.captcha, :email, t('Email')
    = negative_text_field_tag(@message.captcha, :email, required: true, class: "form-control")
  %p
    = negative_label_tag @message.captcha, :content, t('Message')
    = negative_text_area_tag @message.captcha, :content, required: true, class: "form-control", :rows => "6", :cols => "28", placeholder: 'Мы ответим в течении 24 часов'
  .actions
    = submit_tag t('Send'), class: 'btn btn-primary'

