%header
  .container-fluid
    .row-fluid
      .span4
        %a( href='/' id='logo' title='На главную')
          = image_tag("/images/logo.png")

      .disclaimer.span5
        Строительство загородных домов
        %br
        Ремонт, отделка, перепланировка

      %address.contacts-top.span3.pull-right
        %p.tel= contact_tel
        %p.email= mail_to contact_email

    .row-fluid
      %nav.navbar
        .navbar-inner
          .container

            %a.btn.btn-navbar{'data-target' => ".nav-collapse", 'data-toggle' => "collapse", :type => "button"}
              - 3.times do
                %span.icon-bar

            = link_to "#{company_name} Меню", '/', class: 'brand hidden-desktop'

            .nav-collapse.collapse
              / = render_navigation(renderer: :bootstrap, expand_all: true)


      / = render_navigation(renderer: :bootstrap_breadcrumbs)