%header
  .container-fluid
    .row
      .col-xs-6.col-sm-4
        %a{ href: '/', id: 'logo', title: t('to_home')}
          = image_tag "logo.png"

      %address.contacts.col-xs-5.col-sm-3.pull-right
        %p.tel= contact_tel
        %p.email= mail_to contact_email
        %p.social-groups
          = t(:we)
          = link_to vk_group_url, class: 'vk-group' do
            %span.vk-icon
            %span.vk-text
              = t(:vk)

      .disclaimer.hidden-xs.col-sm-5
        = link_to promo_url('renovation-discount') do
          = image_tag "banner-top.png", class: "img-responsive", alt: "Cкидка 5% на внутреннюю отделку до 1 мая"
        / Строительство загородных домов
        / %br
        / Ремонт, отделка, перепланировка

    .row
      %nav.navbar.navbar-default{role: "navigation"}
        .container-fluid
          .navbar-header
            %button.navbar-toggle.collapsed{'data-target' => ".navbar-collapse", 'data-toggle' => "collapse", :type => "button", title: t('toggle_nav')}
              %span.sr-only= t('toggle_nav')
              -3.times do
                %span.icon-bar
            .brand.visible-xs= t('main_menu')

          .navbar-collapse.collapse
            = render_navigation(renderer: :bootstrap, except: [:houses, :promotions], expand_all: true)