.well
  = link_to pricelist_url, class: "btn btn-primary btn-block" do
    %span.glyphicon.glyphicon-download-alt
    Скачать прайс лист

-if @page && @page.contact_page?
  #contact-form.widget
    = partial 'common/contact_form'

  %nav.navbar-sidebar
    = render_navigation context: 'sidebar', renderer: :side_menu, expand_all: true

  .widget.well.latest-works
    = partial 'common/latest_works'

-else
  %nav.navbar-sidebar
    = render_navigation context: 'sidebar', renderer: :side_menu, expand_all: true

  .widget.well.latest-works
    = partial 'common/latest_works'

  #contact-form.widget
    = partial 'common/contact_form', locals: {in_sidebar: true}
