.well
  = link_to pricelist_url, class: "btn btn-primary btn-block" do
    %span.glyphicon.glyphicon-download-alt
    Скачать прайс лист

-if @page && @page.contact_page?
  .widget.contact-form
    %h2 Свяжитесь с нами сейчас
    = partial 'common/contact_form'

  %nav.navbar-sidebar
    = render_navigation context: :sidebar, renderer: :list, expand_all: true

  .widget.latest-works
    %h2 Последние работы
    .work
      %h3 Загородные дома
      = latest_image 'latest-house1', "Строительство дома из бруса в Ленинградской области"
    .work
      %h3 Ремонт квартир и офисов
      = latest_image 'latest-repair1', "Ремонт квартиры в Петербурге"


-else
  %nav.navbar-sidebar
    = render_navigation context: :sidebar, renderer: :list, expand_all: true

  .widget.latest-works
    %h2 Последние работы
    .work
      %h3 Загородные дома
      = latest_image 'latest-house1', "Строительство дома из бруса в Ленинградской области"
    .work
      %h3 Ремонт квартир и офисов
      = latest_image 'latest-repair1', "Ремонт квартиры в Петербурге"

  .widget.contact-form
    %h2 Свяжитесь с нами сейчас
    = partial 'common/contact_form'
